
body {
    font-family: sans-serif;
    line-height: 2em;
    background: white;
}

table.controls {
    width: 90%; table-layout: fixed;
    td { font-size: 2em; background: #eee; text-align: center; height: 3em; }
    tr.spacer td { background: white !important; }
}

a.browse {
    font-size: 2em;
}

button { border: 0; }

.dialog {
    font-size: 2em;
    /* I don't know why button font size doesn't inherit.
       And making it 2em makes it much bigger than the size of the
       link next to it.
     */
    button { font-size: 1.5em; }
}
